<h3>Equipo de desarrollo</h3>
<% for (var i=0; i < nombre.length; i++) { %>
<div id="ficha-credito">
    <div id="foto">
        <img src="<%- foto[i] %>" style="width: 50px;" />
    </div>
    <div id="personal">
        <div style="float: left">
            <strong>Nombre:</strong>
            <br />
            <strong>Ciudad:</strong>
        </div>
        <div style="float: left; padding-left: 10px">
            <%= nombre[i] %>
            <br />
            <%- ciudad[i] %>
        </div>
    </div>
</div>
<% } %>