body {
	background: #333;
}

#page-wrap:after {
	content: 'Smartphone Layout';
}

h2 span, section h3 {
	display: none;
}
body {
	font-size: xx-large;
}
footer, input {
	font-size: large;
}
#foto {
	float:none;
	padding: 0px;
}
#personal {
	float:none;
	margin:0px;
	font-size: large;
}
