* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px Georgia, serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
	padding: 20px;
}

section > div > table {
	margin-left: auto;
    margin-right: auto;
    border: thin solid gray;
    border-radius: 10px;
    padding: 5px;
}

header, nav, section {
	background: #eee;
	text-align: center;
}
section {
	min-height: 200px;
}
footer {
	background: #eee;
	text-align: center;
}
nav span {
	margin: 0px 10px 0px 0px;
}
dt {
	font-style: italic;
	font-weight: bold;
}
#ficha-credito {
	width: 40%;
	min-width: 250px;
	min-height: 50px;
	padding: 0px;
	margin: 10px auto;
}
#foto {
	float: left;/*
	width: 10%;*/
	text-align: center;
	min-height: 50px;
}
#personal {
	float: left;
	background-color: #EEA;/*
	width: 80%;*/
	padding-left: 10px;
	text-align: left;
	min-height: 50px;
}
#ErrorMsgs {
	color: #f61;
	font-size: smaller;
}
